@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Damion|Sigmar+One&display=swap');

body {
	margin: 0;
  background: skyblue;
	font-family: 'Roboto', sans-serif;
}

h4 {
	font-weight: normal;
}

.headerShadow {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.headerMain {
	z-index: 35;
}

.stickyHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-top: 10px solid #61cb62;
}

header {
  text-align: center;
}

header > h1 {
  color: #777380;
  font-weight: 200;
  font-size: 35px;
}

.mRibbon.mRibbonRed {
	background: rgba(233, 27, 35, 0.9);
	color: #fff;
	border-right: 5px solid #f2787d;
}

.mRibbon {
	position: absolute;
	top: 20px;
	right: -5px;
	padding: 15px;
	-webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.4);
	box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.4);
}

.mRibbon.mRibbonRed:before {
	border-top: 27px solid #e91b23;
}

.mRibbon:before {
	top: 0;
}
.mRibbon:before, .mRibbon:after {
	content: '';
	position: absolute;
	left: -9px;
	border-left: 10px solid transparent;
}

.mRibbon.mRibbonRed:after {
	border-bottom: 27px solid #e91b23;
}
.mRibbon:after {
	bottom: 0;
}

.mRibbon span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.prodDisp {
  display: flex;
	display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center; /* Or space-between or space-around */
}

.prodDisp > section {
  align-items: center;
  display: flex;
	display: -webkit-flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
}

.prodDisp > section {
  padding: 1em;
  margin: 0.5em;
  border-radius: 4px;
}

.prodDisp > section.sCustom {
	background: #fff;
}


.prodDisp > section.sCustom:hover {
	transition: box-shadow 0.3s ease-in-out;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.prodDisp > section > p {
  flex-grow: 1;
	margin: 10px 0;
}

.prodDisp ul {
  display: flex;
	display: -webkit-flex;
  justify-content: space-between;
}

.prodDisp aside {
  width: 100%;
}

.btnMediaDetail {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 12px 0;
	background: rgba(255, 255, 255, 0.9);
}

button.addToCart {
  background: #009999 url('../TheImages/addToCart.png');
  background-repeat: no-repeat;
  background-position: 2em 50%;
  background-size: 2em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  padding: 1.5em 3em;
  padding-left: 6em;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

button.addToCart:hover {
  background-color: #006B6B;
  background-size: 3em;
  background-position: 1.5em 50%;
}

.prodDisp ul {
  list-style-type: none;
  padding: 0;
	margin: 15px 0;
}

.prodDisp li {
  background: #eee;
  font-weight: 700;
  padding: 0.3em 0.6em;
  border-radius: 1em;
	display: table;
	vertical-align: middle;
}

.sRibbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.sRibbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.sRibbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.sRibbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.onSale {
	text-decoration: line-through;
	font-size: 0.8em;
}

.salePrice {
	display: block;
	color: #F70505;
}

.prodImageHolder {
	width: 100%;
	height: 200px;
}

.prodImageHolder img {
	width: 100%;
	height: auto;
}

.weekWeatherClose {
	right: 1%;
	top: 17px;
	color: #CD32C6;
	font-weight: bold;
	cursor: pointer;
}

.weekWeatherClose:hover div {
	color: #f700ec;
}

.weekWeatherClose:hover .xClose:before, .weekWeatherClose:hover .xClose:after {
	background: #f700ec;
}

.bsrText {
	display: inline-block;
	vertical-align: middle;
	margin: -10px 0 0 10px;
}

.xClose {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.xClose.edgePoint:before, .xClose.edgePoint:after {
    width: 200%;
    left: -50%;
}
.xClose.colorPurp:before, .xClose.colorPurp:after {
    height: 4px;
    margin-top: -2px;
}
.xClose:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.xClose:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.xClose:before, .xClose:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #CD32C6;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background: #FFF;
  position: absolute;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.12);
	z-index: 9;
}
.wrapper label {
  display: block;
  position: relative;
  color: #b5abab;
  overflow: hidden;
  cursor: pointer;
	height: 56px;
	transition: text-indent 0.2s;
  -webkit-transition: text-indent 0.2s;
  text-indent: 30px;
  padding-top: 1px;
}
.wrapper p {
	margin-block-start: 1em;
	margin-block-end: 1em;
}
.wrapper label:hover {
  background: rgba(203, 228, 205, 0.6) !important;
  color: #4f7351;
  /*text-indent: 30px;
  transition: text-indent 0.2s;*/
}
.wrapper input[type="checkbox"] {
  display: none;
}
.wrapper span.spProgress {
  height: 3px;
  position: absolute;
  width: 0px;
  display: block;
  top: 52px;
  background: #38B087;
}
.wrapper .alert_content {
  height: 0;
  background: #FFF;
  height: 100px;
  position: relative;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  top: 4px;
}
.wrapper .lil_arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: left;
  position: relative;
  top: -28px;
  left: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.wrapper input[type="checkbox"]:checked + label > .alert_content {
  display: block;
}
.wrapper input[type="checkbox"]:checked + label > span {
  display: none;
}
.wrapper input[type="checkbox"]:checked + label > .lil_arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.wrapper input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(203, 228, 205, 0.6) !important;
  color: #4f7351;
  /*text-indent: 30px;*/
  height: 156px;
	transition: height 0.8s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper label:hover > span.spProgress {
	width: 100%;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: width 0.4s;
}
.wrapper input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
	height: 54px;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.svgH {
  position: absolute;
  right: 10px;
	margin-block-start: 1em;
	margin-block-end: 1em;
  z-index: 999;
}
.wrapper p {
  padding-left: 20px;
}

.height100 {
	height: 100%;
}

.shoppingCart {
	right: 2%;
	top: 80px;
	padding: 5px;
	border: 2px solid #FFF;
	z-index: 22;
}

.cartCount {
	min-width: 20px;
	min-height: 20px;
	color: #FFF;
	z-index: 5;
	right: -12px;
	top: -12px;
	text-align: center;
	background: #F00;
	border-radius: 50%;
	padding: 4px;
}

.plParent {
	margin: 195px 0 0 0;
	width: 96%;
	padding: 15px 2% 0;
}

.plParentNoMarg {
	width: 96%;
	padding: 15px 2% 0;
}

.plItem {
	width: 20%;
	display: inline-block;
	height: 300px;
}

.itemImg img {
	width: 55%;
	height: auto;
}

.itemImg {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.itemInfo {
	display: inline-block;
	width: 65%;
	vertical-align: top;
}

.itemInfo h4 {
	margin: 5px 0;
}

.itemInfo h4 span {
	font-weight: bold;
}

.ePrice {
	font-style: italic;
	color: #A0A0A0;
	font-weight: normal;
}

.cartItemHolder .eachItem {
	padding: 18px 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	transition: background-color 1s linear;
}

.cartItemHolder .eachItem:hover {
	background-color: #95ff91;
}

.cartItemHolder .eachItem .itemRemove {
	position: absolute;
	top: 20px;
	right: 1em;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url('../TheImages/close.svg') no-repeat center center;
	z-index: 2;
}

.cartItemHolder .eachItem .itemRemove:hover {
	background-color: #e0e6ef
}

a.itemReplace {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.itemNameFront {
	word-wrap: break-word;
	bottom: 0;
	height: 45%;
	overflow: hidden;
	word-break: break-word;
}

.ribbon {
	background-color: #a00;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	right: -24px;
	top: -11px;
	transform: rotate(45deg);
	z-index: 1;
	-webkit-box-shadow: 0 0 10px #888;
	-moz-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
  margin: 1px 0;
	font-size: 12px;
	padding: 20px 20px 5px 20px;
  text-align: center;
  text-decoration: none;
}

.modalStyle {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 30;
	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.modalStyleShow {
	transform: scale(1, 1);
}

.divX {
	right: 35px;
	top: 105px;
}

.txtPromo {
	text-transform: uppercase;
	margin: 0 2% 0 0;
	height: 30px;
}

.pcHdr {
	display: inline-block;
	padding: 0 2% 0 2%;
}

.cartImg {
	width: 60px;
	height: auto;
}

.cartImgNoItem {
	width: 150px;
	height: auto;
}

.cartDetails {
	width: 100%;
	height: 432px;
}

.noItems {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}

.noItems h4 {
	color: #ACACAC;
}

.shopCart {
	height: 490px;
	width: 75%;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.9);
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	background: #FFF;
}

.cartH {
	background: #5994EE;
	padding: 18px 2%;
	margin: 0;
	color: #FFF;
}

.cartItemHolder {
	height: 309px;
	width: 100%;
}

.cartTotal {
	height: 123px;
	width: 100%;
	background: #5994EE;
	color: #FFF;
}

.cartRight {
	position: absolute;
	right: 15px;
	top: 12px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	color: #FFF;
}

.cartRightCT {
	top: 18px !important;
}

.mdBtn {
  font-family: "Roboto medium", sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;

  color: #fff;
  outline: 0;
}
.mdBtnOrange {
	background: #FF5722;
}

.mdBtnOrange:focus {
  background: #8C2F12;
}

.mdBtnGreen {
	background: #61cb62;
}

.mdBtnGreen:focus {
  background: #8C2F12;
}

.mdBtnRaised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.mdBtnRaised:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

/*
 Ripple
*/
.mdBtnRaisedRipple {
  overflow: hidden;
  position: relative;
}

.mdBtnRaisedRipple:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  transform: scale(0);
}

@keyframes mdBtnRaisedRipple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.mdBtnRaisedRipple:not(:active):after {
  animation: mdBtnRaisedRipple 0.6s ease-out;
}

.mdBtnRaisedRipple:after {
  visibility: hidden;
}

.mdBtnRaisedRipple:focus:after {
  visibility: visible;
}

.sGoShopping {
	cursor: pointer;
}

.sGoShoppingMarg {
	margin: 0 20px 0 0;
}

.sGoShopping:hover {
	color: #DDD;
}

.sGoShopping:active {
	color: #EEE;
}

.weather5DaySummary {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.theSummary {
	bottom: 0;
	z-index: 2;
	width: 90%;
	padding: 0 5% 0 5%;
	color: rgba(76, 70, 101, 0.99);
	height: 60px;
	white-space: pre-wrap;
}

.dayEachSub {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 1em;
}
.dayEachDetail {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
	padding-bottom: 15px;
}

.dayEachSubCustom .dayEachDetail {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  color: #84697c;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
}

.dayEachSubCustom .weatherTop {
  border-radius: 10px 10px 0 0;
  background: rgba(76, 70, 101, 0.99);
  padding: 4em 0 9em;
  position: relative;

}
.dayEachSubCustom .weatherWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}
.dayEachSubCustom .weatherTemp {
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}
.dayEachSubCustom .wwLayer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.dayEachSubCustom .dayEachDetail:hover .wwLayer1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.dayEachSubCustom .dayEachDetail:hover .wwLayer2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.dayEachSubCustom .icon {
  font-size: 2.5em;
}
.dayEachSubCustom .weatherIcon {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.weatherDet {
	padding: 12px 0;
	transition: background-color 1s linear;
	border-bottom: 1px dotted #CCC;
}

.weatherDet:hover {
	background-color: #EEE;
}

.weatherDet:last-child {
	border-bottom: none;
}

.weatherDetLeft {
	text-align: left;
	width: 40%;
	padding: 0 5% 0 5%;
	display: inline-block;
	white-space: pre-line;
	height: 100%;
	vertical-align: middle;
}

.weatherDetRight {
	text-align: right;
	width: 40%;
	padding: 0 5% 0 5%;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ccLeft {
	width: 46%;
	height: auto;
	float: left;
	height: 100%;
	padding: 0 4% 0 2%;
	border-right: 2px solid #4487ef;
}

.ccLeftFlex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.ccRight {
	width: 42%;
	height: auto;
	float: left;
	margin-right: 4%;
	text-align: right;
	height: 100%;
	border-left: 2px solid #6ea0ec;
}

.ccRightFlex {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
}

.ccRight > div {
	padding: 4px 0;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.waveWrapper {
	overflow: hidden;
	position: fixed;
	margin: auto;
	height: 190px;
  width: 100%;
	z-index: 22;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.productPage {
	margin: 62px 0 0 0;
  width: 100%;
}

.headerTitle {
	z-index: 25;
	position: fixed;
	width: 65%;
	margin: 10px 5%;
	height: 150px;
}

.headerTitle .h1Child {
  top: 70% !important;
}
.headerTitle h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 900;
	color: rgba(158, 245, 255, 0.8);
	text-shadow: 1px 4px 6px #2d7d4f, 0 0 0 #ff6783, 1px 4px 6px #e6e2df;
  white-space: nowrap;
	font-family: 'Sigmar One', cursive;
}
.headerTitle h1:before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: -4.8%;
  overflow: hidden;
  width: 100%;
  height: 50%;
  color: #fbf7f4;
  -webkit-transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
          transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
  z-index: 2;
  text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.2);
}
.headerTitle h1:after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #d3cfcc;
  -webkit-transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
          transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
}

.detailLink {
	color: #005aff;
	text-decoration: none;
}

.dayTopHolder {
	background: #ffebfe;
	padding: 0 0 70px 0;
	margin-bottom: 65px;
}

.dayEach {
	width: 250px;
  margin: 0.5em;
  background: #F5F5F6;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  text-align: center;
  display: flex;
	display: -webkit-flex;
  flex-direction: column;
  text-align: center;
}

.dayEachIcon {
	margin: 30px 0 0 0;
	top: 33px;
	left: 50%;
	margin-left: -52.5px;
	border-radius: 50%;
}

.dayEachNoMarg {
	margin-left: 0px !important;
}

.dayEachTime {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 2px 0;
	padding: 10px 0 0 0;
}

.dNone {
	display: none;
}

.weatherTabs {
	height: 100%;
}

.leftTitle {
	width: 50%;
	float: left;
}

.rightValue {
	width: 50%;
	float: left;
}

.weatherTabsWithAlert {
	margin-top: 54px;
}

.weatherTabs input {
  display: none;
}

.weatherTabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
	height: 18px;
}

.weatherTabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.weatherTabs label[for*='1']:before { content: '\f08d'; }
.weatherTabs label[for*='2']:before { content: '\f185'; }
.weatherTabs label[for*='3']:before { content: '\f201'; }
.weatherTabs label[for*='4']:before { content: '\f1a9'; }

.weatherTabs label:hover {
  color: #888;
  cursor: pointer;
}

.weatherTabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #CD32C6;
  border-bottom: 1px solid #fff;
}

.weatherTabs .weatherContent {
  display: none;
	/*height: 349px;*/
	overflow-x: auto;
	padding-top: 10px;
  border-top: 1px solid #ddd;
	padding-bottom: 10px;
}

.weatherTabs .weatherContentWithAlert {
  display: none;
	/*height: 304px;*/
	overflow-x: auto;
	padding-top: 10px;
  border-top: 1px solid #ddd;
	padding-bottom: 10px;
}

.weatherTabs #tab1:checked ~ #content1,
.weatherTabs #tab2:checked ~ #content2 {
  display: block;
}

.weatherTabs #tab3:checked ~ #content3 {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: center;
}


.dayEachDate {
	text-transform:  uppercase;
	font-size: 0.8em;
  font-weight: bold;
  color: #AAA;
}

.h2WeatherLabel {
	font-size: 1rem;
	display: inline-block;
	margin: 8px 0;
}

.topAlign {
	vertical-align: top;
}

.color_w {
	color: #fff;
}

.headerInner {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 8px 16px;
}

.headerInner {
	background: #95ff91;
}

.aLogoBtn {
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	min-width: 64px;
	line-height: 36px;
	padding: 0 16px;
	border-radius: 4px;
	overflow: visible;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.aLogoBtn:hover {
	background: #FFF;
}

.aLogoBtn:hover .logo_text {
	color: #3f51b5;
}

.aLogoBtn:active {
	-moz-box-shadow: inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow: inset 0 0 5px #000000;
}

.aLogoBtn {
	color: inherit;
	background: 0 0;
}

.aLogoBtn {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.siteLogo {
	height: 26px;
	margin: 3px 4px 3px 0;
	vertical-align: middle;
}

.siteName {
	color: #000;
	font-weight: bold;
	margin: 0 0 0 8px;
}

.hidO {
	overflow: hidden;
}

.visO {
	overflow: visible;
}

.autO {
	overflow: auto;
}

.posRel {
	position: relative;
}

.posAbs {
  position: absolute;
}

.posFix {
	position: fixed
}

.floatR {
	float: right;
}

.bg_404 {
	background: url('../TheImages/leftEarth.jpg');
	width: 100%;
	position: fixed;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 62px 0 0 0;
}

/* I believe I can... */
@keyframes fly {
    0% {
        transform: perspective(1000px) rotateY(270deg) translateX(-50vh) translateY(-50%) translateZ(50vw);
    }
    75% {
        transform: perspective(1000px) rotateY(-810deg) translateX(50vh) translateY(50%) translateZ(0);
    }
}
@keyframes sunshine {
    0%, 75% {
        top: -30vh;
        transform: scale(0);
    }
}
@keyframes wind {
    25% {
        opacity: .8;
        transform: rotateY(90deg) translateX(1000vh);
    }
    100% {
        opacity: .8;
        transform: rotateY(90deg) translateX(-100vh);
    }
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vh;
    height: 50vh;
    transform: rotateY(-90deg);
    transform-style:preserve-3d;
    transition: .5s;
    z-index: -1;
    animation: fly 8s ease-out;
}
.sun {
    position: absolute;
    top: -15vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 30vh;
    max-width: 30vw;
    height: 30vh;
    max-height: 30vw;
    border-radius: 50%;
    background: lightgoldenrodyellow;
    box-shadow: inset 0 0 10vw 5vw white, 0 0 15vw 10vw white;
    filter: blur(20px); /* For Firefox */
    transition: .5s;
    animation: sunshine 8s ease-out;
    z-index: -2;
}
.ltop {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}
.ltop:hover ~ .container {
    transform: perspective(1000px) rotateY(-135deg) translateY(-20vh) translateZ(50vh);
    transition: 1s;
}
.ltop:hover ~ .sun {
    top: 90vh;
    right: -100%;
    transition: 1s;
}
.ltop:hover ~ .wind {
    transform: perspective(800px) rotateX(-15deg) rotateY(-45deg);
    transform-origin: left;
    transition: 1s;
}
.lbot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
}
.lbot:hover ~ .container {
    transform: perspective(1000px) rotateY(-135deg) translateY(50vh) translateZ(50vh);
    transition: 1s;
}
.lbot:hover ~ .sun {
    top: -15vh;
    right: -100%;
    transition: 1s;
}
.lbot:hover ~ .wind {
    transform: perspective(800px) rotateX(10deg) rotateY(-45deg);
    transform-origin: left;
    transition: 1s;
}
.rtop {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
}
.rtop:hover ~ .container {
    transform: perspective(1000px) rotateY(-45deg) translateY(-20vh) translateZ(-50vh);
    transition: 1s;
}
.rtop:hover ~ .sun {
    top: 90vh;
    left: -100%;
    transition: 1s;
}
.rtop:hover ~ .wind {
    transform: perspective(800px) rotateX(-15deg) rotateY(45deg);
    transform-origin: right;
    transition: 1s;
}
.rbot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}
.rbot:hover ~ .container {
    transform: perspective(1000px) rotateY(-45deg) translateY(50vh) translateZ(-50vh);
    transition: 1s;
}
.rbot:hover ~ .sun {
    left: -100%;
    transition: 1s;
}
.rbot:hover ~ .wind {
    transform: perspective(800px) rotateX(10deg) rotateY(45deg);
    transform-origin: right;
    transition: 1s;
}
#lside {
    border-top: 25vh solid transparent;
    border-right: 50vh solid #ececec;
    transform: rotate(-5deg) rotateY(0deg) rotateX(-10deg);
    transform-origin: bottom;
}
#rside {
    margin-top: -25vh;
    border-top: 25vh solid transparent;
    border-right: 50vh solid #ececec;
    transform: rotate(-5deg) rotateY(0deg) rotateX(10deg);
    transform-origin: bottom;
}
#lwing {
    margin-top: -25vh;
    border-bottom: 25vh solid #f5f5f5;
    border-right: 30vh solid transparent;
    border-left: 50vh solid transparent;
    transform: rotate(-22deg) rotateX(55deg) rotateY(-10deg) rotateZ(25deg);
    transform-origin: top;
}
#rwing {
    margin-top:-25vh;
    border-bottom: 25vh solid #f5f5f5;
    border-right: 30vh solid transparent;
    border-left: 50vh solid transparent;
    transform: rotate(-22deg) rotateX(-55deg) rotateY(10deg) rotateZ(25deg);
    transform-origin: top;
}
.wind {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 800px;
    z-index: -2;
}
.wind > div {
    position: absolute;
    height: 5px;
    background: linear-gradient(to right, white, transparent);
    border-radius: 10px;
    opacity: 0;
}
#lw1 {
    top: 0;
    left: 10%;
    width: 20vh;
    animation: wind 1.2s linear 6s infinite;
}
#lw2 {
    top: 50%;
    left: 0;
    width: 50vh;
    animation: wind .8s linear 6s infinite;
}
#lw3 {
    top: 80%;
    left: 0;
    width: 40vh;
    animation: wind 1s linear 6s infinite;
}
#rw1 {
    top: 10%;
    right: 0;
    width: 30vh;
    animation: wind 1s linear 6s infinite;
}
#rw2 {
    top: 20%;
    right: 0;
    width: 40vh;
    animation: wind 1.2s linear 6s infinite;
}
#rw3 {
    top: 70%;
    right: 0;
    width: 20vh;
    animation: wind 1.5s linear 6s infinite;
}
#rw4 {
    top: 100%;
    right: 20%;
    width: 50vh;
    animation: wind .8s linear 6s infinite;
}

.msg_404 {
	position: fixed;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	font-size: 2em;
	padding: 20px 0;
	background: rgba(0, 0, 122, 0.7);
}

.aLBCustom {
	width: 250px;
	display: block;
	margin: 15px auto;
}

.aLBCustom:hover {
	color: #555;
}

.menu {
  list-style: none;
  position: absolute;
  width: 250px;
  height: auto;
  right: 0;
  background: #CD32C6;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  z-index: -99;
  clear: both;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.menu li:hover {
  background: #63c76a;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
  display: block;
  padding: 15px 0;
  margin: 0 2% 0 2%;
}

.menu li {
  border-top: 1px solid rgb(75, 75, 75);
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #f700ec;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #CD32C6;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.hide {
  opacity: 0;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}
.show {
  opacity: 1;
  transition: opacity 5s linear;
  -webkit-transition: opacity 5s linear;
  -moz-transition: opacity 5s linear;
  -o-transition: opacity 5s linear;
}

.setH {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*background: #FFF;*/
}

.weatherResult:hover .popCloseBtn {
	display: block;
}

.currentWeather {
	height: 100%;
	color: #555;
}

.slider {
	background-color: #fff;
	box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
	            0 3px 1px hsla(0,0%,100%,.75),
	            0 -1px 1px 2px hsla(0,0%,0%,.1);
	left: 0;
	position: absolute;
	top: 0;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 100%;
}

/* Frame */
.slider:before {
	background-color: #22130c;
	bottom: -2.5em;
	box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
	            inset 0 -2px 1px hsla(0,0%,0%,.4),
	            0 5px 50px hsla(0,0%,0%,.25),
	            0 20px 20px -15px hsla(0,0%,0%,.2),
	            0 30px 20px -15px hsla(0,0%,0%,.15),
	            0 40px 20px -15px hsla(0,0%,0%,.1);
	content: '';
	left: -2.5em;
	position: absolute;
	right: -2.5em;
	top: -2.5em;
	z-index: -1;
}

/* Mat */
.slider:after {
	background-color: #fff5e5;
	bottom: -1.5em;
	box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
	            0 -1px 1px 1px hsla(0,0%,0%,.4),
	            inset 0 2px 3px 1px hsla(0,0%,0%,.2),
	            inset 0 4px 3px 1px hsla(0,0%,0%,.2),
	            inset 0 6px 3px 1px hsla(0,0%,0%,.1);
	content: '';
	left: -1.5em;
	position: absolute;
	right: -1.5em;
	top: -1.5em;
	z-index: -1;
}

/* Slides */
.slider li {
	box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
	list-style:none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.slider input {
    display: none;
}

/* Navigation */
.slider label {
	background-color: #111;
	background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
	border: .2em solid transparent;
	bottom: .5em;
	border-radius: 100%;
	cursor: pointer;
	display: block;
	height: .5em;
	left: 24em;
	opacity: 0;
	position: absolute;
	transition: .25s;
	width: .5em;
	visibility: hidden;
	z-index: 15;
}
.slider label:after {
	border-radius: 100%;
	bottom: -.2em;
	box-shadow: inset 0 0 0 .2em #111,
	            inset 0 2px 2px #000,
	            0 1px 1px hsla(0,0%,100%,.25);
	content: '';
	left: -.2em;
	position: absolute;
	right: -.2em;
	top: -.2em;
}
.slider:hover label {
	opacity: 1;
	visibility: visible;
}
.slider input:checked + label {
	background-color: #fff;
}
.slider:hover li:nth-child(1) label {
	left: .5em;
}
.slider:hover li:nth-child(2) label {
	left: 2em;
}
.slider:hover li:nth-child(3) label {
	left: 3.5em;
}
.slider:hover li:nth-child(4) label {
	left: 5em;
}

/* Images */
.slider img {
	opacity: 0;
	transition: .25s;
	vertical-align: top;
	visibility: hidden;
	width: 100%;
	height: 100%;
}

.displayDiv {
	opacity: 1;
	visibility: visible;
	z-index: 10;
	transition: .25s;
}

.slideStyle {
	width: 100%;
	height: 100%;
	transition: .25s;
}

.content {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.content_attr {
  width: 75%;
  height: 500px;
  background: #FFF;
}

.content_cust_attr {
	width: 90%;
	height: 520px;
	background: #FFF;
}

.content_shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.landingD {
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
}

.landingD span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-family: 'Roboto', sans-serif;
}

.weatherContent .breakTwo, .weatherContentWithAlert .breakTwo {
	display: inline-block;
	width: 40%;
}

.weatherContent .breakTwo:last-child, .weatherContentWithAlert .breakTwo:last-child {
	width: 20%;
}

.weatherContent .breakTwo:last-child .dayEach, .weatherContentWithAlert .breakTwo:last-child .dayEach {
	width: 96%;
}

.search {
	width: 100%;
	position: relative;
}

.search:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-family: 'FontAwesome';
	content: '\f002';
	background: #ffb366;
	text-align: center;
	color: #000;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
}

.searchTerm {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 94%;
	border: 5px solid #ffb366;
	padding: 5px 8px 5px 5px;
	height: 60px;
	outline: none;
	color: #61cb62;
	font-size: 18px;
}

.plainGrayBG {
	background: #F5F5F6;
}

.searchButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 6%;
	height: 60px;
	opacity: 0;
	cursor: pointer;
}

.loadingDiv {
	height: 372px;
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.loadGif {
	width: 250px;
	height: auto;
	margin: 0 auto;
}

.mainContentDefaults {
	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
}

.mainContentWithAlert {
	width: 100%;
	height: 87%;
	padding: 0.2% 0 0 0;
	/*top: 54px;*/
	/*margin: 5% 0 0 0;*/
}

.mainContent {
	width: 100%;
	height: 97%;
	padding: 1% 0 0 0;
}

.alertDiv {
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

.weatherResult {
  /*height: 432px;
	background: #F5F5F5;
  background: linear-gradient(to top, #e8e8e8, #FFF);*/
}

.dayWeather {
	white-space: nowrap;
}

.locationSearchForm {
	background: #fff;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	width: 100%;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	height: 68px;
	position: relative;
	z-index: 10;
}

.locationSearchForm .input-field {
	height: 68px;
}

.locationSearchForm .input-field input {
	height: 100%;
	background: transparent;
	border: 0;
	display: block;
	width: 96%;
	font-size: 16px;
	color: #61cb62;
	padding: 0 2%;
}

.locationSearchForm .input-field input.placeholder {
	color: #888;
	font-size: 16px;
}

.locationSearchForm .input-field input:-moz-placeholder {
	color: #888;
	font-size: 16px;
}

.locationSearchForm .input-field input::-webkit-input-placeholder {
	color: #888;
	font-size: 16px;
}

.locationSearchForm .input-field input:hover,
.locationSearchForm .input-field input:focus {
	box-shadow: none;
	outline: 0;
	border-color: #fff;
}

.locationSearchForm .input-field.first-wrap {
	width: 200px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.locationSearchForm .input-field.first-wrap .choices__inner {
	background: transparent;
	border-radius: 0;
	border: 0;
	height: 100%;
	color: #fff;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 30px;
}

.locationSearchForm .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	padding: 0;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.locationSearchForm .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	opacity: 1;
	color: #888;
}

.locationSearchForm .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	color: #555;
}

.locationSearchForm .input-field.first-wrap .choices[data-type*="select-one"]:after {
	right: 30px;
	border-color: #e5e5e5 transparent transparent transparent;
}

.locationSearchForm .input-field.first-wrap .choices__list.choices__list--dropdown {
	border: 0;
	background: #fff;
	padding: 20px 30px;
	margin-top: 2px;
	border-radius: 4px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.locationSearchForm .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
	padding-right: 0;
}

.locationSearchForm .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
	background: #fff;
	color: #63c76a;
}

.locationSearchForm .input-field.first-wrap .choices__list--dropdown .choices__item {
	color: #555;
	min-height: 24px;
}

.locationSearchForm .input-field.second-wrap {
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.locationSearchForm .flexWrap {
	display: flex;
}

.locationSearchForm .flexWrap .mediaQ {
	flex: 4;
	border-left: 1px solid #DDD;
}

.locationSearchForm .mediaType {
	height: 68px;
	flex: 1;
	display: flex;
	cursor: pointer;
	border-right: 1px solid #AAA;
}

.mediaSelectOpt {
	bottom: -103px;
	width: 250px;
	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
	border-top: 1px solid #EEE;
	z-index: 2;
}

.mediaO {
	transform: scale(1, 1);
}

.mediaSelectOpt ul {
	background: #fff;
	width: 250px;
	margin: auto;
	padding: 0;
	list-style: none;
	overflow: hidden;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.2);
}

.mediaSelectOpt ul li {
	width: 225px;
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #686868;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.mediaSelectOpt ul li:hover {
	background:#efefef;
}

.mediaSelectOpt ul li:nth-child(1) {
	border-left:5px solid #008747;
}

.mediaSelectOpt ul li:nth-child(2) {
	border-left:5px solid #fecf54;
}

.mediaTypeSelected {
	height: 68px;
	line-height: 68px;
	padding: 0 0 0 5%;
	white-space: nowrap;
}

i.smallArrow:before, i.smallArrow:after {
  transition: all 0.25s ease-in-out;
}
i.smallArrow {
  transform: translate(-6px, 0);
	right: 20px;
	top: 41%;
}
i.smallArrow:before, i.smallArrow:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
i.smallArrowC:before {
  transform: translate(2px, 0) rotate(45deg);
}
i.smallArrowC:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

i.smallArrowO:before {
  transform: translate(-2px, 0) rotate(45deg);
}
i.smallArrowO:after {
	transform: translate(2px, 0) rotate(-45deg);
}

#completeSection {
	overflow: hidden;
}
.rays_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: inherit;
	overflow: hidden;
}

.todoList {
	display: flex;
	flex-direction: row;
	padding: 20px 5%;
}

.addNewTH {
	-webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
		display: flex;
    flex: 10;
}

.addNewBH {
	display: flex;
	flex: 1;
	margin: 0 0 0 5px;
}

.txtNew {
	padding: 12px 2%;
	width: 96%;
}

.btnAdd {
	padding: 0 10px;
}

.allTasksStatus {
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.oneQ {
	width: 25%;
	display: flex;
	justify-content: center;
	color: #FFF;
	flex-direction: column;
	text-align: center;
	padding: 10px 0 0 0;
}

.allTasksStatus .oneQ:first-child {
	background: #dd4b39;
}

.allTasksStatus .oneQ:nth-child(2) {
	background: #3b5998;
}

.allTasksStatus .oneQ:nth-child(3){
	background: #00aced;
}

.allTasksStatus .oneQ:nth-child(4) {
	background: #a4c639;
}

.tasksHolder {
	display: flex;
	flex-direction: column;
	padding: 20px 5%;
	margin: 0 0 100px 0;
}

.tabs {
	
	width: 100%;
}

.tabs .tab:not(:first-child) {
	margin: 15px 0 0 0;
}

.tab {
  width: 100%;
	color: white;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0;
  color: #2c3e50;
  background: white;
  transition: all .35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
	background: #1a252f;
	border-radius: 8px 8px 0 0;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
	padding: 1em;
	border-radius: 0 0 8px 8px;
}


.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.taskCount {
	top: -22px;
	left: 0;
	background: #61cb62;
	padding: 5px 10px;
	border-radius: 50%;
}

.taskName {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px 0;
}

.taskActions button:first-child:hover svg {
	fill: #a4c639;
	cursor: pointer;
}

.taskActions button:first-child:active svg {
	fill: #779026;
	cursor: pointer;
}

.taskActions button.cOn svg {
	fill: #a4c639;
}

.taskActions button:last-child:hover svg {
	fill: #dd4b39;
	cursor: pointer;
}

.taskActions button:last-child:active svg {
	fill: #af4d41;
	cursor: pointer;
}

.taskActions button.dOn svg {
	fill: #dd4b39;
}

.taskName span {
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.taskActions {
	display: flex;
}

.taskActions svg {
	pointer-events: none;
}

.plainBtn {
	border: none;
	background: transparent;
	padding: 0 8px;
}

.optSelect {
	flex: 1;
	margin: 0 2%;
	white-space: nowrap;
  position: relative;
  display: flex;
}

.mediaOptions {
	width: 100%;
	right: 0;
	top: 70px;
	padding: 0 0 10px 0;
	box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.2);
	background: #FFF;
	transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.mediaOptionsO {
	transform: scale(1, 1);
}

.movieOpt, .tvOpt {
	display: flex;
}

.optSelect .optSelectHolder {
  min-width: 100%;
  padding-top: 0px;
}
.optSelect .optSelectHolder .optSelectTitle {
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
  line-height: 14px;
}
.optSelect .optSelectHolder .optSelectSection {
  margin-top: 20px;
}
.optSelect .optSelectHolder .inputT {
  background: #F6F7F9;
  border: none;
  border-radius: 4px;
  width: 90%;
  height: 40px;
  line-height: 40px;
  padding: 0px 5%;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.locationSearchForm .input-field.third-wrap {
	width: 74px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.locationSearchForm .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: #63c76a;
	transition: all .2s ease-out, color .2s ease-out;
}

.locationSearchForm .input-field.third-wrap .btn-search svg {
	width: 16px;
}

.locationSearchForm .input-field.third-wrap .btn-search:hover {
	background: #50c058;
}

.locationSearchForm .input-field.third-wrap .btn-search:focus {
	outline: 0;
	box-shadow: none;
}

.component-button {
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Robobto, sans-serif;
	font-size: 26px;
	border-radius: 8px;
	border: solid 2px #802155;
	background: linear-gradient(360deg, #b32e77 20%, #ff75c1 100%);
	box-shadow: inset 1px 1px 0px 0px #bbdaf7;
}

.component-button:hover {
	background: linear-gradient(360deg, #ff75c1 20%, #b32e77 100%);
}

.component-button:active {
	position: relative;
	top: 1px;
}

.component-button-text {
	padding: 14px;
	float: left;
}

.component-button-icon {
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
	border-radius: 8px 0 0 8px;
	padding: 14px;
	float: left;
}

.btn-hover {
    width: 250px;
		padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 20px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.sResultCount {
	padding: 10px 2% 10px 2%;
	width: 96%;
	text-align: right;
	border-bottom: 2px solid #ccc;
	margin: 0 0 10px 0;
	color: #afafaf;
}

.sResultCount h2 {
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
}

.sup {
	font-size: 0.3em;
}

.cwLeft {
	width: 50%;
	text-align: center;
	display: inline-block;
	height: 100%;
}

.cwRight {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

@media screen and (max-width: 650px) {
  .weatherTabs label {
    font-size: 0;
  }
  .weatherTabs label:before {
    margin: 0;
    font-size: 30px;
  }
	.weatherTabs input:checked + label {
		color: #61cb62;
	}
}

@media screen and (max-width: 400px) {
  .weatherTabs label {
    padding: 15px;
  }
}

@media screen and (max-width: 992px) {
	/*.locationSearchForm .input-field {
		height: 52px;
	}*/
}

@media screen and (max-width: 600px) {
	.shopCart {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.weekWeatherClose {
		right: 5%;
		top: 17px;
	}
	.bsrText {
		display: none
	}
	.mediaTypeSelected {
		width: 100%;
		text-align: center;
	}
	i.smallArrow {
		right: 30px;
		top: 75%;
	}
	.mediaOptions {
		width: 100%;
		left: 0;
		top: 142px;
	}
	.pcHdr {
		display: block;
		padding: 8px 0;
	}
	.applyPromoBtn {
		margin: 10px 0 0 0;
		float: right;
	}
	.txtPromo {
		width: 98%
	}
	.mainContentWithAlert {
		/*margin: 14.5% 0 0 0;*/
    height: 85%;
	}
	.weatherContentWithAlert {
		/*height: 263px !important;*/
	}
	.weatherContentWithAlert .breakTwo:not(:first-child) {
		margin: 20px 0 0 0;
	}
	.sResult {
		text-align: left;
		width: 93%;
		padding: 0 0 0 7%;
	}
	.eachLocButton {
		width: 100%;
		padding: 0;
	}
	.locationSearchForm {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
		height: 140px;
	}
	.locationSearchForm .input-field {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.locationSearchForm .input-field input {
		padding: 0 2%;
	}
	.locationSearchForm .input-field input {
		width: 96%;
	}
	.locationSearchForm .input-field.first-wrap {
		width: 100%;
		border-right: 0;
	}
	.locationSearchForm .input-field.first-wrap .choices__inner {
		padding: 10px 15px;
	}
	.locationSearchForm .input-field.first-wrap .choices[data-type*="select-one"]:after {
		right: 11.5px;
		border-color: #e5e5e5 transparent transparent transparent;
	}
	.locationSearchForm .input-field.second-wrap {
		width: 100%;
	}
	.locationSearchForm .input-field.second-wrap input {
		border: 1px solid rgba(255, 255, 255, 0.3);
	}
	.locationSearchForm .input-field.third-wrap {
		margin-bottom: 0;
		width: 100%;
	}
	.weatherResult {
		/*height: 395px;*/
	}
	.sResultCount {
		height: 18px;
	}
	.sResult {
		/*height: 345px;*/
		text-align: center;
	}
	.content_attr {
		width: 80%;
	}
	.cwLeft {
		width: 100%;
		display: block;
	}
	.cwRight {
		width:90%;
		display: block;
		padding: 0 0 0 10%;
	}
	.weatherTabs .weatherContent, .weatherTabs .weatherContentWithAlert {
	  display: none;
		/*height: 317px;*/
		overflow-x: auto;
		padding-top: 10px;
	  border-top: 1px solid #ddd;
		padding-bottom: 10px;
	}
	.mainContent {
		height: 99%;
	}
	.weatherContent .breakTwo, .weatherContentWithAlert .breakTwo {
		display: block;
		width: 100%;
	}
}

@media (max-width: 1600px) {
  .prodDisp > section {
    max-width: 250px;
  }
}

@media (max-width: 1600px) {
  .prodDisp img {
    width: 250px;
  }
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
